# =========================
# Maven
# =========================
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws

# =========================
# Logs & Temp
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Keep only source code + pom.xml
# =========================
/*
!/src/
!/pom.xml

